@font-face
{
    font-family: 'VantaThin';
    src: url('../fonts/vanta-thin.woff2') format('woff2'),
    url('../fonts/vanta-thin.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}